<p style="color: green"><%= notice %></p>

<%= render @user %>

<h2>Logs</h2>

<%= render @user.logs %>

<h2>Following</h2>

<%= render @user.followees %>

<h2>Followers</h2>

<%= render @user.followers %>

<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>

  <%= button_to "Destroy this user", @user, method: :delete %>
</div>
